.sidebar {
  height: 100vh;
}

.sidebar .nav-link {
  padding: 10px 15px;
  font-size: 16px;
  color: #ccc;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar .nav-link:hover {
  background-color: #343a40;
  color: #fff;
}

.sidebar .nav-link.active {
  background-color: #495057;
  color: #fff;
  font-weight: bold;
}

.custom-card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.custom-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
